
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    background-color: #fff;
}
.navlinks{
    background-color: #1741fa;
    margin: 3px;
    padding: 8px;
    width: 4px;
    height: 4px;
}
/* styles.css or App.css */

body.light-mode {
    background-color: white;
    color: black;
  }
  
  body.dark-mode {
    background-color: black;
    color: white;
  }
  
  /* Additional styles for other components can go here */
  